.header-container{
    margin: 3em;
    background: rgb(93,104,131);
    background: linear-gradient(135deg, rgba(93,104,131,1) 18%, rgba(94,117,179,1) 40%, rgba(111,142,226,1) 60%, rgba(95,138,255,1) 87%);
    width: 50vw; /* lub auto*/
    height: 35vh;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 1);
    transition: 0.5s ease-in-out;
}
.header-container:hover{
    -webkit-box-shadow: 0px 0px 50px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 50px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 50px 0px rgba(66, 68, 90, 1);
}

/* animacje */
.underline-ani{
    overflow: hidden;
    position: relative;
}

.underline-ani::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: white;
    opacity: 0;
    transform: translate3d(-100%,0,0);
    transition: transform 500ms;
}
.underline-ani:hover::after,.underline-ani:focus::after{
    transform: translate3d(0,0,0);
    opacity: 1;
}


.header-container h1{
    color: white;
    font-weight: bold;
    margin: 0 20px;
}
.header-container h2{
    color: hsl(0, 0%, 90%);
    margin: 0 20px;
}
