.projects{
    margin: 0;
    width: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}