@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

*{
  margin: 0 auto;
<<<<<<< HEAD
  font-family: 'Radio Canada Big';
}
body{
  background-color: #0F0F0F;
=======
}
body{
  background-color: #0F0F0F;
  font-family: 'Radio Canada Big';
>>>>>>> 0d19f6fc1379de550211299fd2f1f5200faf78fc
  height: auto;
  background: rgb(31,31,31);
  background: linear-gradient(135deg, rgba(31,31,31,1) 12%, rgba(19,19,19,1) 96%);
}
#root{
    height: 100%;
    max-width: 100vw;
    display: flex;
    flex-flow: row wrap;
}