@import 'resets';
@import 'config';

body{
    background-color: $bg-color;
    @include flexBox;
    height: 100vh;
}

.card{
    width: 90%;
    max-width: 470px;
    transition: 0.5s ease-in-out;
    background: linear-gradient(135deg, rgba(145,236,175,1) 13%, rgba(26,196,37,1) 34%, rgba(113,222,175,1) 61%, rgba(26,148,227,1) 85%, rgba(0,212,255,1) 100%);   
    color: $text-color;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
}

.search{
    width: 100%;
    @include flexBox;
    justify-content: space-between;
    
    & input{
        border: 0;
        outline: 0;
        background: $input-bg;
        color: #555;
        padding: 10px 25px;
        height: 60px;
        border-radius: 30px;
        flex: 1;
        margin-right: 16px;
        font-size: 18px;
    }

    & button{
        border: 0;
        outline: 0;
        background: $input-bg;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        cursor: pointer;
        
        & img{
            width: 16px;
        }
    }
}

.weather{
    transition: 1s ease-in-out;
    h1{
        font-size: 80px;
        font-weight: 500;
    }
    h2{
        font-size: 45px;
        font-weight: 400;
        margin-top: -10px;
    }

    &-icon{
        width: 170px;
        margin-top: 30px;
    }
}

.details{
    @include flexBox;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

    .col{
        display: flex;
        align-items: center;
        text-align: left;

        & img{
            width: 40px;
            margin-right: 10px;
        }
    }
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    display: none;
    text-align: left;
    font-size: 1.4em;
    margin-top: 0.5em;
    margin-left: 0.5em;
}
